:root{
    --body-background:#3F3F3F;
    --cell-background:#1E1E1E;
    --cell-hover-background:#3d3d3d;
    --cell-shadow-1:#fff4b5;
    --cell-shadow-2:#fffadb;
    --cell-shadow-3:#FFFFFF;
    --borders-color: #3F3F3F;
    --active-cell: #FFD700;
    --active-cell-hover: #fff4b5;
    --grid-shadow: #FFD700;
    --scroll-color: #979797;
    --scroll-color-hover: #707070;
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: var(--body-background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container{
    max-width: 100%;
    max-height: 100%;
    overflow: auto auto;
    border: 1px solid var(--borders-color);
    display: grid;
    gap: 0px 0px;
    grid-template-columns: repeat(var(--cells-columns), auto);
}

.grid-container:active{
    cursor: grabbing;
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid var(--borders-color);
    background-color: var(--cell-background);
    border-radius: 2px;
}

.cell:hover{
    background-color: var(--cell-hover-background);
}

.cell.active{
    background-color: var(--active-cell);
    border-color: var(--active-cell-hover);
    z-index: 2;
    box-shadow: 
        0px 0px 6px  var(--cell-shadow-1),
        0px 0px 12px var(--cell-shadow-2),
        0px 0px 16px var(--cell-shadow-3);
}

.cell.active:hover{
    background-color: var(--active-cell-hover);
}

/*Scroll bar*/

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--body-background); 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scroll-color); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-color-hover); 
}

/* Corner */
::-webkit-scrollbar-corner{
    display: none;
}