:root{
    --body-background:#3F3F3F;
    --cell-background:#1E1E1E;
    --cell-hover-background:#3d3d3d;
    --borders-color: #3F3F3F;
    --active-cell: #0d6efd;
    --active-cell-hover: #6aa5ff;
    --scroll-color: #979797;
    --scroll-color-hover: #707070;
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: var(--body-background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container{
    max-width: 100%;
    max-height: 100%;
    overflow: auto auto;
    border: 1px solid var(--borders-color);
    display: grid;
    gap: 0px 0px;
    grid-template-columns: repeat(var(--cells-columns), auto);
}

.grid-container:active{
    cursor: grabbing;
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid var(--borders-color);
    background-color: var(--cell-background);
    border-radius: 2px;
}

.cell:hover{
    background-color: var(--cell-hover-background);
}

.cell.active{
    background-color: var(--active-cell);
    border-color: var(--active-cell-hover);
    z-index: 2;
}

.cell.active:hover{
    background-color: var(--active-cell-hover);
}

/*Scroll bar*/

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--body-background); 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scroll-color); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-color-hover); 
}

/* Corner */
::-webkit-scrollbar-corner{
    display: none;
}

/* Tools */

#tools{
    transition: .5s;
    z-index: 10;
}


#tools button{
    width: 50px;
    height: 50px;
}

#tools button svg{
    width: 40px;
    height: 40px;
}

#btn-full-screen svg{
    width: 31px !important;
    height: 31px !important;
}

#btn-reset svg{
    width: 38px !important;
    height: 38px !important;
}

#btn-rules svg{
    width: 35px !important;
    height: 35px !important;
}